{%- comment -%}
    A document link with date that is formatted as a single line

    Parameters:
        include.document: document to render preview of
    Document Parameters:
        document.title: document title
        document.date: date document was published
{%- endcomment -%}


{%- assign _document = include.document -%}

<div class="document-link">
    <a href="{{ site.baseurl }}{{ _document.url }}">{{ _document.title | escape }}</a>
    {% include date.html date=_document.date %}
</div>
