{%- comment -%}
    A document preview with title, date, and excerpt

    Parameters:
        include.document: document to render preview of
    Document Parameters:
        document.title: document title
        document.date: date document was published
        document.excerpt: document excerpt
{%- endcomment -%}


{%- assign _document = include.document -%}

<article class="inline-document">
    <header class="inline-document-header">
        <h1 class="inline-document-title">
            <a href="{{ site.baseurl }}{{ _document.url }}">{{ _document.title | escape }}</a>
        </h1>
        <div class="inline-document-date">Published {% include date.html date=_document.date %}</div>
    </header>
    {{ _document.content }}
</article>
